* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(./../img/background.jpg);
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: absolute;
    width: 60px;
    height: 100vh;
    background: white;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul {
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background: goldenrod;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: black;
}

.sidebar ul li a .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar ul li a .image {
    width: 100%;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo:hover {
    background: white;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 500;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}